.category-manager {
}

.sidebar {
    width: 210px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 16px;
    display: flex;
    flex-direction: column;
}
  
.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
  }
  
.logo {
    width: 24px;
    height: 24px;
  }

.sidebar-title-container {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.sidebar-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.sidebar-subtitle {
    font-size: 14px;
    color: #666;
    margin-top: -4px;
}
  
.sidebar-menu {
    display: flex;
    flex-direction: column;
  }
  
.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 5px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.3s linear;
}
  
.menu-item .item-1 {
    width: 20px;
}

.menu-item .item-2 {
    width: 20px;
}

.menu-item .item-3 {
    width: 20px;
}
  
.menu-item:hover {
    background-color: #e0e7ff;
    color: #1e40af;
  }


.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.category-title {
  font-size: 24px;
  font-weight: 600;
}

.button {
    width: 178px;
  height: 44px;
  padding: 0 16px;
  border: 1px solid transparent;
  outline: none;
  background-color: #4094f7;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}


.button:hover {
  background-color: #3386e5;
}

.button:focus {
  background-color: #1c69c1;
}

.category-function {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
  
.category-search {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

.select {
  height: 44px;
  width: 259px;
  padding: 0 16px;
  margin-right: 10px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 8px;
  border: 1px solid #dadada;
}

.input-search-container {
    margin-top: -20px;
    margin-right: -10px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.input-search {
  height: 44px;
  width: 343px;
  padding: 0 16px;
  padding-right: 40px;
  border: 1px solid #dadada;
  outline: none;
  border-radius: 4px;
  border: 1px solid #dadada;
}

.search-icon {
    width: 12px;
    height: 12px;
  position: absolute;
  right: 16px;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.category-table th {
    text-align: left;
    padding: 12px;
    background-color: #f9fafb;
    color: #667085;
}

.category-table td {
    padding: 12px;
    border-bottom: 1px solid #dadada;
}


.status {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 8px;
  border-radius: 12px;
  width: fit-content;
  font-weight: 500;
}

.status-active {
  background-color: #ecfdf3;
  color: #228b5f;
}

.status-inactive {
  background-color:  #fde8e8;
  color: #c84c4c;
}

.dot {
  height: 8px;
  width: 8px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.active {
  background-color: green;
}

.inactive {
  background-color: red;
}


.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-category {
  background-color: #fff;
  width: 500px;
  padding: 20px 24px;
  border-radius: 8px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-body{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 10px;
}

.form-control{
  border-radius: 8px;
  border-width: 1px;
  gap: 8px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid #DADADA;
}

.form-footer{
  margin-top: 24px;
}

.changeActive{
  margin-top: 10px;
  margin-left: 12px;
  gap: 5px;
}

#iconCloseFormCategory{
  cursor: pointer;
}

.foot{
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin-top: 10px;
}

#btnCloseFormCategory{
  background-color: white;
  border: 1px solid #E4E4E7;
  width: 50px;
  height: 40px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
}

#btnAddFormCategory{
  background-color: #007AFF;
  color: white;
  width: 60px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #007AFF;
  cursor: pointer;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.content {
    flex: 1;
}

.header {
    height: 56px;
    padding: 16px;
}

.main {
    height: calc(100vh - 56px);
    padding: 24px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.img-1{
    width: 14px;
    height: 14px;
}

.img-2{
    width: 14px;
    height: 16px;
}

.img-3{
    width: 16px;
    height: 16px;
}

.img-4{
    width: 24px;
    height: 24px;
    border-radius: 999px;
    border-width: 1px;
}

.icon-2{
    display: flex;
    gap: 16px;
    align-items: center;
}


.trash, .pen {
    width: 18px;
    margin: 0 6px;
    cursor: pointer;
    
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}

.page-btn {
    padding: 6px 12px;
    border: 1px solid #dadada;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.page-btn.active {
    background: #4094f7;
    color: white;
}

.page-btn:hover {
    background: #3386e5;
    color: white;
}

.arrow-left, .arrow-right{
    width: 16px;
}


.overlayy {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-categoryy {
  background-color: #fff;
  width: 500px;
  padding: 20px 24px;
  border-radius: 8px;
}

.form-headerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-bodyy{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 10px;
}

.form-controll{
  border-radius: 8px;
  border-width: 1px;
  gap: 8px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid #DADADA;
}

.form-footerr{
  margin-top: 24px;
}

.changeActivee{
  margin-top: 10px;
  margin-left: 12px;
  gap: 5px;
}

#iconCloseFormCategoryy{
  cursor: pointer;
}

.foott{
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin-top: 10px;
}

#btnCloseFormCategoryy{
  background-color: white;
  border: 1px solid #E4E4E7;
  width: 50px;
  height: 40px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
}

#btnAddFormCategoryy{
  background-color: #007AFF;
  color: white;
  width: 60px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #007AFF;
  cursor: pointer;
}